<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/create">Create User</a>

    </div>
    <div class="w3-container">
        <table class="w3-table-all w3-card-4">
            <tr>
                <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          
          <tr>
            <td>1</td>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
          </tr>
        </table>
      </div>
      
</body>
</html>
